<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <!--<meta charset="UTF-8" />-->
    <title th:text="${title}">The springboot-blog</title>

    <!-- Common styles and scripts -->
    <!--<link rel="stylesheet" type="text/css" media="all" th:href="@{../static/semantic/semantic.min.css}"/>-->
    <!--<script type="text/javascript" th:src="@{../static/js/jquery-3.2.1.min.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{../static/semantic/semantic.min.js}"></script>-->

    <!--/* Per-page placeholder for additional links */-->
    <!--<th:block th:replace="${links}" />-->

</head>
<body>
</body>
</html>